@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply max-w-[1535px] xl:max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
    }
}

@layer components {}
@layer utilities {}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.cursive{
    font-family: 'Dancing Script', cursive;
}
.redacted{
    font-family: 'Redacted Script', cursive;
}
.animation-bigger{
    animation: animation-bigger 5s infinite ease;
}
.tiltFirst{
    animation: tiltFirst 10s infinite ease;
}
.tiltSecond{
    animation: tiltSecond 10s infinite ease;
}
.scaleDown{
    animation: scaleDown 1s 1 ease-in-out;
}
.leftRight{
    animation: leftRight 5s infinite ease;
}
.upDown{
    animation: upDown 5s infinite ease;
}
.-leftRight{
    animation: -leftRight 5s infinite ease;
}
.-upDown{
    animation: -upDown 5s infinite ease;
}
.flashAnimation{
    animation: flashAnimationIn 1s  1 cubic-bezier(.15,.86,.13,1.47), flashAnimationOut 1s 4s 1 cubic-bezier(.15,.86,.13,1.47) ;
}

@keyframes animation-bigger {
    0%{
        width: 30rem;
        height:  30rem;
    }
    50%{
        width: 40rem;
        height: 40rem;
    }
    100%{
        width:  30rem;
        height:  30rem;
    }
    
}
@keyframes tiltFirst {
    0%{
        transform: rotate(6deg);
    }
    50%{
        transform: rotate(-6deg);
    }
    100%{
        transform: rotate(6deg);
    }
}
@keyframes tiltSecond {
    0%{
        transform: rotate(-6deg);
    }
    50%{
        transform: rotate(6deg);
    }
    100%{
        transform: rotate(-6deg);
    }
}
@keyframes scaleDown{
    0%{
        opacity: 0;
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes leftRight {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-20px);
    }
    0%{
        transform: translateX(0);
    }
}
@keyframes upDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    0%{
        transform: translateY(0);
    }
}
@keyframes -leftRight {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
    0%{
        transform: translateX(0);
    }
}
@keyframes -upDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    0%{
        transform: translateY(0);
    }
}
@keyframes flashAnimationIn {
    0%{
        bottom: -4rem;
    }
    100%{
        bottom: 1rem;
    }
}
@keyframes flashAnimationOut {
    0%{
        bottom: 1rem;
    }
    100%{
        bottom: -4rem;
    }
}